<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div id="wrapper">
        <div class="nav-section">
            <div class="nav-title">
                <h1>Foodora.</h1>
            </div>
            <!-- nav title slut -->
            <div class="nav-selections">
                <ul>
                    <a href="#"><li>Meny</li></a>
                    <a href="#"><li>Meny</li></a>
                    <a href="#"><li>Meny</li></a>
                </ul>
            </div> 
            <!-- Nav selection slut -->
             <div class="nav-credentials">
                <div class="nav-log">
                    <button class="log-in" type="submit">Logga in</button>
                    <button class="register" type="submit">Registera</button>
                </div>
                <div class="nav-cart">
                      <img src="../img/shopping-cart.png">
                </div>
             </div>
             <!-- nav-credentials slut -->
        </div>
        <div class="main-section">
            <div class="search-section">
                <input type="text" placeholder="Sök efter produkt">
                <button type="sumbit">Sök</button>
            </div>
            <div class="bottom-section">
                <div class="button-section">
                    <button>Meny</button>
                    <button>Beställ här</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>