<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <nav>
            <div id="nav-bar">
                <div id="logo">
                    <img src="../img/logo.png">
                </div>
                <div class="nav-items">
                    <ul>
                        <li><a>Hem</a></li>
                        <li><a>Om oss</a></li>
                        <li><a>Pages</a></li>
                        <ul id="nav-pages">
                            <li><a>Page 1</a></li>
                            <li><a>Page 2</a></li>
                            <li><a>Page 3</a></li>
                            <li><a>Page 4</a></li>
                        </ul>
                        <li><a>Kontakta oss</a></li>
                    </ul>
                </div>
                <div id="nav-tab">
                    <ul>
                        <li>
                            <img src="/img/call_44dp_F19E39_FILL0_wght400_GRAD0_opsz48.svg" id="phone">
                            <p>+46 123 123 33 33</p>
                        </li>
                        <li>
                            <img src="/img/search_44dp_F19E39_FILL0_wght400_GRAD0_opsz48.svg" id="search">
                        </li>
                        <li>
                            <svg role="img" id="search" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                                <path fill="#fff" d="M2.14285707 5.85714284h-.57142858V3.28571423c0-.494.29857143-1.42857145 1.42857145-1.42857145h8.00000012c.494 0 1.42857145.35828572 1.42857145 1.71428574v2.28571432h-.57142858V3.57142852c0-1.1297143-.82200001-1.14285716-.85714287-1.14285716H2.99999994c-.80657144 0-.85542858.71542858-.85714287.85885716v2.56971432z"/>
                                <path fill="#fff" d="M9.72428576 5.85714284C9.36000004 7.016 8.27885716 7.85714287 7 7.85714287c-1.27885716 0-2.36000004-.84114287-2.72428576-2.00000003H1.2857142l1.3774286 6.28571438h8.6734287l1.3777143-6.28571438H9.72428576zm-2.43857147 5.42857151h-.57142858v-1.14285716h.57142858v1.14285716zm0-1.71428574h-.57142858V8.42857145h.57142858v1.14285716zm1.42857145 1.71428574h-.57142858v-1.14285716h.57142858v1.14285716zm0-1.71428574h-.57142858V8.42857145h.57142858v1.14285716zm1.42857145 1.71428574h-.57142858v-1.14285716h.57142858v1.14285716zm0-1.71428574h-.57142858V8.42857145h.57142858v1.14285716zm-4.28571435 1.71428574h-.57142858v-1.14285716h.57142858v1.14285716zm0-1.71428574h-.57142858V8.42857145h.57142858v1.14285716zm-1.42857145 1.71428574h-.57142858v-1.14285716h.57142858v1.14285716zm0-1.71428574h-.57142858V8.42857145h.57142858v1.14285716z"/>
                                <path fill="#fff" d="M12.42857151 5.57142855H8.61457145C8.37885716 6.23685713 7.74600001 6.71428571 7 6.71428571c-.74600001 0-1.37914288-.47742858-1.61457145-1.14285716H1.57142849c-.31542858 0-.57142858.256-.57142858.57142858v.28571429C.99999991 6.744 1.25599991 7 1.57142849 7h2.9811429C5.10942854 7.66714287 5.95085713 8.14285716 7 8.14285716c1.04914287 0 1.89057146-.4757143 2.4474286-1.14285716h2.98114291c.31542858 0 .57142858-.256.57142858-.57142858v-.28571429c0-.31542858-.256-.57142858-.57142858-.57142858z"/>
                            </svg>                        
                        </li>
                        <li id="log-in">
                            <a>
                                Logga In
                                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#fff" id="sign-in">
                                    <path d="M481-120v-60h299v-600H481v-60h299q24 0 42 18t18 42v600q0 24-18 42t-42 18H481Zm-55-185-43-43 102-102H120v-60h363L381-612l43-43 176 176-174 174Z"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="hero">
            <div class="main">
                <div class="main-banner">
                    <h1>Maten du älskar.</h1>
                    <h3>- till din dörr</h3>
                </div>
                <div class="input-section">
                    <form>
                        <input type="text" placeholder="Ange hemaddress">
                        <button>Sök</button>
                    </form>
                </div>
            </div>
        </section>
        <div class="card-section">
            <div class="card card-1">
                <div class="card-text">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#F19E39"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>
                        STEG 1
                    </span>
                </div>
            </div>
            <div class="card card-1">
                <div class="card-text">

                </div>
            </div>
            <div class="card card-1">
                <div class="card-text">

                </div>
            </div>
        </div>
    </div>
</body>
</html>