<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <nav>
            <div class="left-section">
                <ul>
                    <a><li>INDEX</li></a>
                    <a><li>INDEX</li></a>
                    <a><li>INDEX</li></a>
                    <a><li>INDEX</li></a>
                </ul>
            </div>
            <div class="logo-section">
                <img src="../img/logo.png">
            </div>
            <div class="right-section">
                <ul>
                    <a><li>INDEX</li></a>
                    <a><li>INDEX</li></a>
                    <a><li>INDEX</li></a>
                    <a><li>INDEX</li></a>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>