<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <nav>
            <div id="nav-bar">
                <div id="logo">
                    <img src="../img/logo.png">
                </div>
                <div class="nav-items">
                    <ul>
                        <li><a>Hem</a></li>
                        <li><a>Om oss</a></li>
                        <li><a>Pages</a></li>
                        <ul id="nav-pages">
                            <li><a>Page 1</a></li>
                            <li><a>Page 2</a></li>
                            <li><a>Page 3</a></li>
                            <li><a>Page 4</a></li>
                        </ul>
                        <li><a>Kontakta oss</a></li>
                    </ul>
                </div>
                <div id="nav-tab">
                    <ul>
                        <li>
                            <img src="/img/call_44dp_F19E39_FILL0_wght400_GRAD0_opsz48.svg" id="phone">
                            <p>+46 123 123 33 33</p>
                        </li>
                        <li>
                            <img src="/img/search_44dp_F19E39_FILL0_wght400_GRAD0_opsz48.svg" id="search">
                        </li>
                        <li>
                            <img src="/img/shopping_bag_44dp_FFF_FILL0_wght400_GRAD0_opsz48.svg" id="cart"> 
                        </li>
                        <li id="log-in">
                            <a>
                                Logga In
                                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#fff" id="sign-in">
                                    <path d="M481-120v-60h299v-600H481v-60h299q24 0 42 18t18 42v600q0 24-18 42t-42 18H481Zm-55-185-43-43 102-102H120v-60h363L381-612l43-43 176 176-174 174Z"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="hero">
            <div class="main">
                <div class="main-banner">
                    <h1>Maten du älskar.</h1>
                    <h3>- till din dörr</h3>
                    <br>
                    <h4>Få det leverat rakt till din dörr</h4>
                </div>
                <div class="input-section">
                    <form>
                        <input type="text" placeholder="Skriv din address.">
                        <button>Sök</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>