@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');

:root {
    --text-color: #66FCF1;
    --text-color-second: #45A29E;
    --text-color-third: #fff; 
    --background-color: #0B0C10;
    --background-color-second: rgb(97,71,255);
    --main-color: #C5C6C7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    /* border: 1px solid red; */


}

body, html {
    height: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    background-image: url(../img/image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    height: 16vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}

#nav-bar {
    width: 95%;
    height: 100%;
    display: flex;
}

#logo {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 42px;
    height: 42px;
}

.nav-items {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items ul {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items ul li {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-items ul li:nth-child(1)::after {
    content: '';
    position: absolute;
    display: block;
    top: 5px;
    width: 22px;
    height: 22px;
    background-image: url(../img/logo.png);
    background-size: contain;
}

.nav-items ul li a {
    color: #fff;
    padding: 15px 20px;
    font-size: 16px;

}

#nav-pages {
    display: none;
}

#nav-tab {
    width: 40%;
    height: 100%;
}

#nav-tab ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-tab ul li {
    height: 7vh;
    list-style-type: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-tab ul li:nth-child(1) {
    display: flex;
    color: #fff;
    width: 15vw;
    justify-content: center;
    align-items: center;
}

#phone {
    width: 22px;
    height: 22px;

}
#search {
    width: 22px;
    height: 22px;
}
#cart {
    width: 22px;
    height: 22px;
}

#sign-in {
    width: 22px;
    height: 22px;
    transition: all .3s ease-in-out;
}

#sign-in:hover {
    fill: blue;
}

#log-in {
    width: 30%;
    height: auto;
}

#log-in a {
    display: flex;
    margin: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    cursor: pointer;
}

#log-in a img {
    fill: blue;
}

#hero {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 60%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid red;
}

.main-banner {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 200px;
}

.main-banner h1 {
    font-family: 'Solway';
    color: #fff;
    font-size: clamp(2rem, 6vw, 4rem);
    /* line-height: 5rem; */
}

.main-banner h3 {
    font-family: 'Birthstone';
    color: #fff;
    font-size: clamp(1rem, 3vw, 6rem);
    /* line-height: clamp(0.5rem, 1.3vw, 3rem); */
    font-weight: normal;
}

.main-banner h4 {
    font-family: 'Poppins';
    color: #fff;
}

.input-section {
    width: 650px;
    height: 30vh;
    display: flex;
    align-items: center;
}

.input-section form {
    width: 100%;
    height: clamp(8vh, 12vh, 16vh);
    position: relative;
}

.input-section form input {
    width: 100%;
    height: clamp(5vh, 12vh, 80px);
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 0px 40px;
    font-size: clamp(1rem, 1.1vw, 1.2rem);
}

.input-section form input::placeholder {
    font-style: italic;
}

/* .input-section button {
    position: absolute;
    right: 5px;
    top: 60%;
    transform: translateY(-50%);
    height: clamp(calc(5vh - 2vh), 6vh, calc(7vh - 2vh));
    padding: 0 40px;   
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #de9235;
    font-size: clamp(16px, 1.2vw, 1.05rem);
} */

.input-section button {
    background: linear-gradient(93.93deg, #D8AB37 0%, #F18345 100%);
    font-size: 16px;
    padding: 0 45px;
    height: 64px;
    border: none;
    color: #fff;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 30px;
}

.card-section {
    width: 100%;
    height: 50vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    height: 220px;
    background-color: rgb(34,38,47);
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    width: 70%;
    height: 70%;
    border: 1px solid red;
}

.card-text span {
    width: 100%;
    display: flex;
    align-items: center;
    color: #F19E39;
}
