<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link href="/css/index.css" rel="stylesheet">
  <link href="/css/navbar.css" rel="stylesheet">
  <script src="/js/script.js" defer></script>
</head>
<body>
  <header>
    <nav>
      <img src="/img/logo.png" id="logo">
      <ul id="ul-nav">
        <li><a href="/">Hem</a></li>
        <li><a href="/meny">Meny</a></li>
        <li><a href="#">Beställ</a></li>
        <li><a href="#">Om oss</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Kundservice</a></li>
      </ul>
      <% if (user) { %>
        <div class="profile-container">
          <!-- Profilknapp -->
          <button id="profile-btn" class="profile-button">
              <img class="avatar" src="/img/user-avatar.png" alt="User photo">
          </button>
  
          <!-- Dropdown-meny -->
          <div id="profile-dropdown" class="dropdown-menu hidden">
              <div class="dropdown-header">
                  <p class="user-name"><%= user.username %></p>
                  <p class="user-email"><%= user.email %></p>
              </div>
              <ul class="dropdown-list">
                  <li><a href="#">Profil</a></li>
                  <li><a href="#">Mina beställningar</a></li>
                  <li><a href="#">Inställningar</a></li>
              </ul>
              <div class="dropdown-footer">
                  <a href="/logout" class="sign-out">Sign out</a>
              </div>
          </div>
      </div>
  
      <% } else { %>
        <a href="/login">
          <button type="submit" id="login-btn">Logga in</button>
        </a>
      <% } %>
    </nav>
  </header>
  <section id="hero">
    <div class="hero-content">
      <h1>Njut av din 
        <br>
        favoritmat nära dig.
      </h1>
      <div class="customers">
        <div class="customer">
          <img src="/img/customer.png">
          <img src="/img/customer.png">
          <img src="/img/customer.png">
        </div>
        <p>Över 4600 kunder – gå med och <br>börja beställa nu!</p>

      </div>
      <div class="hero-btns">
        <button>Beställ nu</button>
        <button>Skapa konto</button>
      </div>
    </div>
    <figure id="hero-pic">
      <img src="/img/hero.png">
    </figure>
  </section>
  <div class="popular-inner-items">
    <div id="arrow">
      <button class="prev" onclick="prevSlide()" id="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#000000"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/></svg>
      </button>
    </div>
    <section class="popular-dishes">
      <h1 class="title-h1">Våra populär maträtter</h1>

        <div class="dishes dishes-active">
          <div class="dishes-left ">
            <h1>Friterad kyckling</h1>
            <p class="dishes-paragraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Dolorum quaerat rem commodi amet voluptatibus ratione quasi 
              perferendis autem similique quisquam et quis, 
              laboriosam nihil velit aperiam ex quibusdam sequi quam?
            </p>
            <p class="dish-price">126,00 kr</p>
            <p class="ursprungligen">Ursprungligen: <span>158,00kr</span><span>-20%</span></p>
            <button type="submit" id="add-button">
              <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" id="add-icon">
                <!-- Fylld grön cirkel -->
                <circle cx="480" cy="-480" r="400" fill="#21a35f"/>
                <!-- Vitt plustecken -->
                <path fill="#ffffff" d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Z"/>
              </svg>
            </button>
          </div>
          <div class="dishes-right">
            <img src="/img/food-bowl-1.png">
          </div>
          
        </div>
        <div class="dishes">
          <div class="dishes-left ">
            <h1>Pannkaka</h1>
            <p class="dishes-paragraf">Pannkakor är en härlig rätt som kan varieras på många sätt. 
              De kan vara både tunna och frasiga eller tjocka och fluffiga. 
              Med bara några få ingredienser som mjöl, mjölk och ägg kan man skapa en måltid som både är enkel och god. 
              Serveras de med sylt, grädde eller kanske en skvätt sirap blir de snabbt en favorit vid frukostbordet
            </p>
            <p class="dish-price">126,00 kr</p>
            <p class="ursprungligen">Ursprungligen: <span>158,00kr</span><span>-20%</span></p>
            <button type="submit" id="add-button">
              <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" id="add-icon">
                <!-- Fylld grön cirkel -->
                <circle cx="480" cy="-480" r="400" fill="#21a35f"/>
                <!-- Vitt plustecken -->
                <path fill="#ffffff" d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Z"/>
              </svg>
            </button>
          </div>
          <div class="dishes-right">
            <img src="/img/food-bowl-1.png">
          </div>
          
        </div>
        <div class="dishes">
          <div class="dishes-left ">
            <h1>Friterad kyckling</h1>
            <p class="dishes-paragraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Dolorum quaerat rem commodi amet voluptatibus ratione quasi 
              perferendis autem similique quisquam et quis, 
              laboriosam nihil velit aperiam ex quibusdam sequi quam?
            </p>
            <p class="dish-price">126,00 kr</p>
            <p class="ursprungligen">Ursprungligen: <span>158,00kr</span><span>-20%</span></p>
            <button type="submit" id="add-button">
              <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" id="add-icon">
                <!-- Fylld grön cirkel -->
                <circle cx="480" cy="-480" r="400" fill="#21a35f"/>
                <!-- Vitt plustecken -->
                <path fill="#ffffff" d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Z"/>
              </svg>
            </button>
          </div>
          <div class="dishes-right">
            <img src="/img/food-bowl-1.png">
          </div>
          
        </div>


    </section>
    <div id="arrow">
      <button class="next" onclick="nextSlide()" id="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#000000"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
      </button>
    </div>
  </div>
  <div class="carousel-inner">
    <div class="active item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <section class="location">
    <h1>Vart vi finns</h1>
    <div class="location-grid">
      <div class="card">
        <figure class="fig-card">
          <picture>
            <img class="card-image" src="/img/uppsala.jpg" alt="Technology acquisitions">
          </picture>
          <figcaption>
            <span class="fig-span">Uppsala</span>
          </figcaption>
        </figure>
      </div>
      <div class="card">
        <figure class="fig-card">
          <picture>
            <img class="card-image" src="/img/enköping.jpg" alt="Technology acquisitions">
          </picture>
          <figcaption>
            <span class="fig-span">Enköping</span>
          </figcaption>
        </figure>
      </div>
      <div class="card">
        <figure class="fig-card">
          <picture>
            <img class="card-image" src="/img/stockholm.jpg" alt="Technology acquisitions">
          </picture>
          <figcaption>
            <span class="fig-span">Stockholm</span>
          </figcaption>
        </figure>
      </div>
      <div class="card">
        <figure class="fig-card">
          <picture>
            <img class="card-image" src="/img/gävle.jpg" alt="Technology acquisitions">
          </picture>
          <figcaption>
            <span class="fig-span">Gävle</span>
          </figcaption>
        </figure>
      </div>
      <div class="card">
        <figure class="fig-card">
          <picture>
            <img class="card-image" src="/img/umeå.jpg" alt="Technology acquisitions">
          </picture>
          <figcaption>
            <span class="fig-span">Umeå</span>
          </figcaption>
        </figure>
      </div>
      <div class="card">
        <figure class="fig-card">
          <picture>
            <img class="card-image" src="/img/örebro.jpg" alt="Technology acquisitions">
          </picture>
          <figcaption>
            <span class="fig-span">Örebro</span>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section class="container-section">
    <div class="content">
        <div class="text">
            <h2>Vi uppfann inte <span>matleveransen.</span></h2>
            <p>Men vi är passionerade matälskare, 
              snabba bud och smarta problemlösare. 
              Små nog att vara flexibla och personliga, 
              men stora nog att leverera din favoritmat – precis när du vill ha den.
            </p>
            <p>Vi brinner för god mat, snabb service och smidiga lösningar. 
              Alltid färskt, alltid snabbt, alltid på dina villkor.
            </p>
        </div>
        <div class="images">
          <div class="image">
            <img src="/img/restaurant1.jpg" alt="Fin restaurang">
          </div>
          <a href="#" class="image-btn">Beställ</a>
          <div class="image">
            <img src="/img/levera-mat.jpg" alt="Kontorsinnehåll 2">
          </div>
        </div>
        <button></button>
    </div>
  </section>
</body>
</html>
<footer class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="logo">
                    <a href="/">
                        <img src="/img/logo.png" alt="logga">
                    </a>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2004.5446666522728!2d17.647234476003064!3d59.84009427003337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465fcecb6e7e556d%3A0x6de4f4dcd95557ea!2sNTI%20Gymnasiet%20Uppsala!5e0!3m2!1ssv!2sse!4v1742561302357!5m2!1ssv!2sse" width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="links">
                    <div class="link-group">
                        <h2>Resurser</h2>
                        <ul>
                            <li><a href="https://expressjs.com/" target="_blank">ExpressJS</a></li>
                            <li><a href="https://www.mongodb.com/" target="_blank">MongoDB</a></li>
                            <li><a href="https://www.passportjs.org/" target="_blank">PassportJS</a></li>
                            <li><a href="https://mongoosejs.com/" target="_blank">Mongoose</a></li>
                        </ul>
                    </div>
                    <div class="link-group">
                        <h2>Juridiskt</h2>
                        <ul>
                            <li><a href="#">Integritetspolicy</a></li>
                            <li><a href="#">Användarvillkor</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="footer-bottom">
                <span>&copy; 2025 <a href="/">HungerJet™</a>. Alla rättigheter förbehållna.</span>
                <div class="social-icons">
                    <a href="#" class="icon">
                      
                    </a>
                    <a href="#" class="icon">DC</a>
                    <a href="#" class="icon">TW</a>
                    <a href="#" class="icon">GH</a>
                    <a href="#" class="icon">DB</a>
                </div>
            </div>
        </div>
    </footer>
    <script>
      document.querySelector('.sign-out').addEventListener('click', async () => {
    try {
        const response = await fetch('/logout', { method: 'POST', credentials: 'include' });
        const data = await response.json();
        alert(data.message);  // Visa meddelande
        window.location.href = '/login'; // Skicka användaren till inloggningssidan
    } catch (error) {
        console.error('Fel vid utloggning:', error);
    }
});

    </script>
</body>
</html>
