<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/index.css" rel="stylesheet">
  <script src="/js/script.js" defer></script>
</head>
<body>
  <header>
    <nav>
      <img src="/img/logo.png" id="logo">
      <ul id="ul-nav">
        <li><a href="#">Hem</a></li>
        <li><a href="#">Meny</a></li>
        <li><a href="#">Beställ</a></li>
        <li><a href="#">Om oss</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Kundservice</a></li>
      </ul>
      <% if (user) { %>
        <div class="profile-container">
          <!-- Profilknapp -->
          <button id="profile-btn" class="profile-button">
              <img class="avatar" src="/img/user-avatar.png" alt="User photo">
          </button>
  
          <!-- Dropdown-meny -->
          <div id="profile-dropdown" class="dropdown-menu hidden">
              <div class="dropdown-header">
                  <p class="user-name"><%= user.username %></p>
                  <p class="user-email"><%= user.email %></p>
              </div>
              <ul class="dropdown-list">
                  <li><a href="#">Profil</a></li>
                  <li><a href="#">Mina beställningar</a></li>
                  <li><a href="#">Inställningar</a></li>
              </ul>
              <div class="dropdown-footer">
                  <a href="/sign-out" class="sign-out">Sign out</a>
              </div>
          </div>
      </div>
  
      <% } else { %>
        <a href="/login">
          <button type="submit" id="login-btn">Logga in</button>
        </a>
      <% } %>
    </nav>
  </header>
  <section id="hero">
    <div class="hero-content">
      <h1>Njut av din 
        <br>
        favoritmat nära dig.
      </h1>
      <div class="customers">
        <div class="customer">
          <img src="/img/customer.png">
          <img src="/img/customer.png">
          <img src="/img/customer.png">
        </div>
        <p>Över 4600 kunder – gå med och <br>börja beställa nu!</p>

      </div>
      <div class="hero-btns">
        <button>Beställ nu</button>
        <button>Skapa konto</button>
      </div>
    </div>
    <figure>
      <img src="/img/hero.png">
    </figure>
  </section>
  <section class="popular-dishes">
    <h1>Våra populär maträtter</h1>
    <div class="dishes dishes-active">
      <div class="dishes-left ">
        <h1>Friterad kyckling</h1>
        <p class="dishes-paragraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Dolorum quaerat rem commodi amet voluptatibus ratione quasi 
          perferendis autem similique quisquam et quis, 
          laboriosam nihil velit aperiam ex quibusdam sequi quam?
        </p>
        <p class="dish-price">126,00 kr</p>
        <p class="ursprungligen">Ursprungligen: <span>158,00kr</span><span>-20%</span></p>
        <button type="submit" id="add-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" id="add-icon">
            <!-- Fylld grön cirkel -->
            <circle cx="480" cy="-480" r="400" fill="#21a35f"/>
            <!-- Vitt plustecken -->
            <path fill="#ffffff" d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Z"/>
          </svg>
        </button>
      </div>
      <div class="dishes-right">
        <img src="/img/food-bowl-1.png">
      </div>
      
    </div>
    <div class="dishes">
      <div class="dishes-left ">
        <h1>Friterad kyckling</h1>
        <p class="dishes-paragraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Dolorum quaerat rem commodi amet voluptatibus ratione quasi 
          perferendis autem similique quisquam et quis, 
          laboriosam nihil velit aperiam ex quibusdam sequi quam?
        </p>
        <p class="dish-price">126,00 kr</p>
        <p class="ursprungligen">Ursprungligen: <span>158,00kr</span><span>-20%</span></p>
        <button type="submit" id="add-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" id="add-icon">
            <!-- Fylld grön cirkel -->
            <circle cx="480" cy="-480" r="400" fill="#21a35f"/>
            <!-- Vitt plustecken -->
            <path fill="#ffffff" d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Z"/>
          </svg>
        </button>
      </div>
      <div class="dishes-right">
        <img src="/img/food-bowl-1.png">
      </div>
      
    </div>
    <div class="dishes">
      <div class="dishes-left ">
        <h1>Friterad kyckling</h1>
        <p class="dishes-paragraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Dolorum quaerat rem commodi amet voluptatibus ratione quasi 
          perferendis autem similique quisquam et quis, 
          laboriosam nihil velit aperiam ex quibusdam sequi quam?
        </p>
        <p class="dish-price">126,00 kr</p>
        <p class="ursprungligen">Ursprungligen: <span>158,00kr</span><span>-20%</span></p>
        <button type="submit" id="add-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" id="add-icon">
            <!-- Fylld grön cirkel -->
            <circle cx="480" cy="-480" r="400" fill="#21a35f"/>
            <!-- Vitt plustecken -->
            <path fill="#ffffff" d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Z"/>
          </svg>
        </button>
      </div>
      <div class="dishes-right">
        <img src="/img/food-bowl-1.png">
      </div>
      
    </div>
    <div class="carousel-inner">
      <div class="active item"></div>
      <div class="item"></div>
      <div class="item"></div>
  </div>
  </section>
</body>
</html>